<template name="postSubmit">
  <form class="main form page">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="form-nav-button-container" role="group">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-tasks">
          </span>
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-user">
          </span>
        </button>
      </div>
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">
        Energy
      </span>
      <input name="energy" type="range" min="0" max="100" class="form-control"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon">
        Anxiety
      </span>
      <input name="anxiety" type="range" min="0" max="100" class="form-control"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon">
        Joint Stability
      </span>
      <input name="j-stability" type="range" min="0" max="100" class="form-control"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
